.button-default {
  width: 154px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  background-color: var(--color-primary-accent);

  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.button-ghost {
  width: 154px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  background-color: var(--color-suface);

  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary-accent);
  border-radius: 10px;
  border: 2px solid var(--color-secondary-accent);

  cursor: pointer;
}
