.button-default, .button-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  border-radius: 10px;
  padding: 10px 5px;
  /* text-transform: uppercase; */

  cursor: pointer;
}

.button-default {
  background-color: var(--color-primary-accent);
  color: var(--color-surface);
  border: none;

  cursor: pointer;
}

.button-ghost {
  background-color: var(--color-suface);
  color: var(--color-primary-accent);

  border: 2px solid var(--color-secondary-accent);

  cursor: pointer;
}
