.page-layout-containter {
  display: flex;
  align-content: center;

  width: 100%;
  height: 100%;
}

.left-filler {
  background-color: red;
}

.main-content {
  background-color: cyan;
}

.right-filler {
  background-color: green;
}

.middle {
  height: 100%;
} 

.top-filler, .bottom-filler {
  background-color: blueviolet;
  width: 100%;
  height: 10vh;
}

.left-filler, .right-filler, .main-content, .top-filler, .bottom-filler {
  background-color: transparent;
}

.main-content {
  min-height: calc(100% - 20vh)
}