.page404 {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 2.5vh;
  align-items: center; 
  overflow: hidden;
}

.page404 img {
  max-width: 55%;
  height: auto;
  display: block;
}
