* {
  box-sizing: border-box;
}
.column {
  text-align: center;
  background-clip: content-box;
  margin-top: 6px;
  margin-bottom: 6px;
}
.grid{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.grid.wide {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.column {
  padding-left: 6px;
  padding-right: 6px;
}

.row.no-gutters .column {
  padding-left: 0;
  padding-right: 0;
}

.small-0 {
  display: none;
}

.small-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.small-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.small-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.small-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.small-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.small-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.small-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.small-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.small-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.small-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.small-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.small-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.small-o-1 {
  margin-left: 8.33333%;
}

.small-o-2 {
  margin-left: 16.66667%;
}

.small-o-3 {
  margin-left: 25%;
}

.small-o-4 {
  margin-left: 33.33333%;
}

.small-o-5 {
  margin-left: 41.66667%;
}

.small-o-6 {
  margin-left: 50%;
}

.small-o-7 {
  margin-left: 58.33333%;
}

.small-o-8 {
  margin-left: 66.66667%;
}

.small-o-9 {
  margin-left: 75%;
}

.small-o-10 {
  margin-left: 83.33333%;
}

.small-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) and (max-width:1112px){
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .column {
    padding-left: 8px;
    padding-right: 8px;
  }

  .medium-0 {
    display: none;
  }

  .medium-1,
  .medium-2,
  .medium-3,
  .medium-4,
  .medium-5,
  .medium-6,
  .medium-7,
  .medium-8,
  .medium-9,
  .medium-10,
  .medium-11,
  .medium-12 {
    display: block;
  }

  .medium-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .medium-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .medium-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .medium-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .medium-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .medium-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .medium-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .medium-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .medium-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .medium-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .medium-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .medium-o-1 {
    margin-left: 8.33333%;
  }

  .medium-o-2 {
    margin-left: 16.66667%;
  }

  .medium-o-3 {
    margin-left: 25%;
  }

  .medium-o-4 {
    margin-left: 33.33333%;
  }

  .medium-o-5 {
    margin-left: 41.66667%;
  }

  .medium-o-6 {
    margin-left: 50%;
  }

  .medium-o-7 {
    margin-left: 58.33333%;
  }

  .medium-o-8 {
    margin-left: 66.66667%;
  }

  .medium-o-9 {
    margin-left: 75%;
  }

  .medium-o-10 {
    margin-left: 83.33333%;
  }

  .medium-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .row.sm-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }

  .column {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .column {
    padding-left: 12px;
    padding-right: 12px;
  }

  .large-0 {
    display: none;
  }
  .large-1,
  .large-2,
  .large-2-4,
  .large-3,
  .large-4,
  .large-5,
  .large-6,
  .large-7,
  .large-8,
  .large-9,
  .large-10,
  .large-11,
  .large-12 {
    display: block;
  }

  .large-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .large-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .large-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .large-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .large-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .large-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .large-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .large-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .large-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .large-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .large-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .large-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .large-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .large-o-1 {
    margin-left: 8.33333%;
  }

  .large-o-2 {
    margin-left: 16.66667%;
  }
  .large-o-2-4 {
    margin-left: 20%;
  }
  .large-o-3 {
    margin-left: 25%;
  }

  .large-o-4 {
    margin-left: 33.33333%;
  }

  .large-o-5 {
    margin-left: 41.66667%;
  }

  .large-o-6 {
    margin-left: 50%;
  }

  .large-o-7 {
    margin-left: 58.33333%;
  }

  .large-o-8 {
    margin-left: 66.66667%;
  }

  .large-o-9 {
    margin-left: 75%;
  }

  .large-o-10 {
    margin-left: 83.33333%;
  }

  .large-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .column {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .column {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .large-0 {
    display: none;
  }

  .wide .large-1,
  .wide .large-2,
  .wide .large-2-4,
  .wide .large-3,
  .wide .large-4,
  .wide .large-5,
  .wide .large-6,
  .wide .large-7,
  .wide .large-8,
  .wide .large-9,
  .wide .large-10,
  .wide .large-11,
  .wide .large-12 {
    display: block;
  }

  .wide .large-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .large-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .large-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .large-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .large-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .large-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .large-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .large-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .large-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .large-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .large-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .large-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .large-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .large-o-1 {
    margin-left: 8.33333%;
  }

  .wide .large-o-2 {
    margin-left: 16.66667%;
  }

  .wide .large-o-3 {
    margin-left: 25%;
  }

  .wide .large-o-4 {
    margin-left: 33.33333%;
  }

  .wide .large-o-5 {
    margin-left: 41.66667%;
  }

  .wide .large-o-6 {
    margin-left: 50%;
  }

  .wide .large-o-7 {
    margin-left: 58.33333%;
  }

  .wide .large-o-8 {
    margin-left: 66.66667%;
  }

  .wide .large-o-9 {
    margin-left: 75%;
  }

  .wide .large-o-10 {
    margin-left: 83.33333%;
  }

  .wide .large-o-11 {
    margin-left: 91.66667%;
  }
}