.home-container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
}

.left-filler {
  background: transparent
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.home-container img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;   /* căn giữa ngang */
  align-items: center;       /* căn giữa dọc */
}