.home-container {
  height: 100%;
  width: 100%;

  display: flex;
  align-content: center;
}

.left-filler {
  height: 100%;
  /* background-color: cyan; */
}

.text-container {
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.home-container img {
  /* background-color: green; */
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: center;   /* căn giữa ngang */
  align-items: center;       /* căn giữa dọc */
}