.my-links-containter {
  display: flex;
  align-content: center;

  width: 100%;
  height: 100%;
}

.left-filler {
  /* background-color: red; */
  background-color: transparent;
}

.main-content {
  /* background-color: cyan; */
  background-color: transparent;
}

.right-filler {
  /* background-color: green; */
  background-color: transparent;
}

.middle {
  height: 100%;
} 

.top-filler, .bottom-filler {
  /* background-color: blueviolet; */
  width: 100%;
  height: 10vh;
}

.main-content {
  min-height: calc(100% - 20vh)
}