.my-links-containter {
  display: flex;
  width: 100%;
  height: 100%;
}

.my-links-containter .main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} 

.top-filler, .bottom-filler {
  height: 10vh;
}