.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  z-index: 1000;

  width: 100%;
  padding: 30px;
  
  background-color: var(--color-primary);
}

.footer p {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-light);
}

.footer a {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.footer img {
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary-accent);
}