.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 0vh;

  width: 100%;
  height: 10vh;
  
  background-color: var(--color-primary);
}

.footer-container a {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.footer-container img {
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary-accent);
}