.window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 5vh;

  border: 2px solid var(--color-secondary-accent);
  border-radius: 20px;

  background-color: var(--color-surface);
}

.window-title {
  display: flex;  
  justify-content: center;
  align-content: center;
  align-items: center;
  
  min-height: 100%;
  width: 90%;
  height: auto;
}
