.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 16.7rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  
  height: 60px;
  width: 100%;
  margin-bottom: 60px;

  background-color: var(--color-primary);
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
  width: 30%;
  height: 100%;
}

.navbar-logo {
  height: 50px;

  cursor: pointer;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
  height: 100%;
  width: 80%;
}

.navbar-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;
  width: 22%;
  padding: 10px;

  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-light);
  text-decoration: none;
}

.navbar-links .active {
  border-bottom: 5px solid var(--color-secondary-accent);
}

.navbar-links a:hover {
  background-color: var(--color-primary-accent);
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
  height: 100%;
  width: 5%;
}

.navbar-notification-icon {
  height: 20px;

  cursor: pointer;
}

.navbar-profile-icon {
  height: 30px;
  
  cursor: pointer;
}