.background-container {
  width: 100%;
  height: 100%;
}

.background-image, .background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.background-image {
  z-index: -2;           /* Keep it behind other content */

  object-fit: cover;     /* Looks better than stretch */
}

.background-overlay {
  z-index: -1;           /* Keep it behind other content */

  background-color: var(--color-background); /* Semi-transparent overlay */
  opacity: 0.7;
}